@font-face {
	font-family: goodtime;
	src: url('../fonts/GOODTIME.ttf');
}
@font-face {
	font-family: Frission;
	src: url('fonts/Frission.ttf');
}
div.wrapper {
	width: 1000px;
	margin: 0 auto;
	background: #C3C3C3;
	opacity: 0.7;
	border-radius: 10px;
}

@media (max-device-height: 1024px) {
	div.wrapper {
		height: 720px;
	}
	div.content {
		height: 600px;
	}

	div.innerCell {
		height: 450px;
	}
}

@media (min-device-height: 1024px) {
	div.wrapper {
		height: 920px;
	}

	div.content {
		height: 800px;
	}

	div.innerCell {
		height: 650px;
	}
}

div.wrapper > div.title {
	font-family: goodtime;
	font-style: italic;
	font-size: 20px;
	height: 44px;
}

div.title h1 {
	color: #FFFFFF;
    float: Left;
    position: absolute;
    margin-left: 300px;
    margin-top: 0;
}

div.content {
	width: inherit;
	padding-top: 6px;
}

div.login {
	width: 250px;
	height: 163px;
	margin: 253 auto;
}

div.login h2 {
	text-align: center;
}

div.login input[type="text"],input[type="password"] {
	width: 250px;
	border-radius: 6px;
	height: 30px;
	font-size: 20px;
	border: 1px solid #DD9F20;
}

div.login input[type="password"] {
	margin-top: 2px;
}

div.login input[type="reset"], form.addStudent input[type="reset"] {
	float: right;
}

div.footer {
	width: 998px;
	height: 70px;
	background: #DADADA;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}

div.content div {
	border-bottom: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#errorMsg {
	width: inherit;
	font-size: 16px;
	text-align: center;
	color: red;
}

#adminTabs, #studentTabs {
	height: inherit;
}

form.addStudent {
	width: 250px;
	float: left;
	margin-left: 75px;
	height: inherit;
}


form.addStudent input[type="text"] {
	width: inherit;
}

div.innerCell {
	width: 800px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid #aaaaaa !important;
}

div.studSelForm {
	width: inherit;
	margin: 0 auto;
	margin-top: 25px;
}

#studSelect {
	width: 200px;
	margin: 0 auto;
	padding: 0;
}

#editStud {
	margin-left: 100px;
}

#removeStud {
	margin-left: 200px;
}

#editStud, #removeStud, #prevStuds, #nextStuds {
	position: absolute;
}

#prevStuds {
	margin-left: 30px;
}

#nextStuds {
	margin-left: 320px;
}

div.leftCell, div.rightCell {
	float: left;
	width: 399px;
	height: inherit;
}

div.leftCell {
	border-right: 2px solid #aaaaaa
}

div.leftCell form {
	margin-top: 165px;
	height: 175px;
	overflow: hidden;
}

.lexam {
	width: 199px !important;
}
.rexam {
	width: 599px !important;
	background: #FFFFFF;
}

div.examSelector {
	width: inherit;
}

div.examSelector label, div.examSelector input {
	width: inherit !important;
	border-radius: 0;
	border: none !important;
}

div.qList ul {
	list-style: none;
}

h2.examTitle {
	font-size: 29px;
	margin: 10px auto;
}

.title {
	text-align: center;
}

.hidden {
	display: none;
}

h2 + input.hidden {
	width: 200px;
	text-align: center;
	font-size: 24px;
	margin-top: 10px;
}

#studSelect > ul, div.examSelector > ul
{
	list-style: none;
	width: inherit;
}

#studSelect > ul > li, div.examSelector > ul > li
{
	background-color: rgb(240, 240, 244);
	margin: 0 auto;
	padding: 0;
	width: inherit;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}

div.examSelector > ul > li
{
    margin-left: -40px;
}
#studSelect > ul > li:hover, div.examSelector > ul > li:hover
{
	background-color: rgb(247, 247, 249);
}

#studSelect > ul > li:first-child, div.examSelector > ul > li:first-child
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#studSelect > ul > li:last-child, div.examSelector > ul > li:last-child
{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#studSelect {
	padding-right: 75px;
}

#studSelect > ul > li.selected
{
	
}

#studSelect > ul > li > a
{
	vertical-align: middle;
}

a
{
	text-decoration: none;
	cursor: hand;
}

span.welcome, #logoutBtn {
    float: right;
    font-size: 16px;
    font-family: TREBUCHET MS,Helvetica, Arial, sans-serif;
    font-style: normal;
}

.listClick
{
	background-color: rgb(62, 62, 62) !important;
}

.listclick a
{
	color: #ffffff;
}

#answer, .lectTxtArea {
    width: 500px;
    height: 100px;
    resize: none;
}

.middler {
    position: absolute;
    bottom: 100px;
    left: 600px;
    width: 200px;
}

#gradesLect {
    width: inherit;
}

#gradesLect tr td {
    text-align: center;
}

.linkLike {
    cursor: hand;
    cursor: pointer;
}

.linkLike:hover {
    color: #c0402a;
}